html {
  /* make more accesible the user control the zoom level*/
  font-size: 100%;
  /* border-box include the border in the final with size*/
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  line-height: 1.3;
  background-color: var(--green);
}

body h1 {
  color: var(--white);
}
